In [31]:
mystr = '68화 마주한 것들'
print('화' in mystr)

True

In [32]:
my_index = mystr.index('화')
print(my_index)

2

In [33]:
mystr[:my_index+1]

'68화'

In [34]:
for val in zip((1, 2, 3), (10, 20, 30), (100, 200, 300)):
    print(val)

(1, 10, 100)
(2, 20, 200)
(3, 30, 300)

In [35]:
dt_list = ['정당','선거구']
dd_list = ['민주당','서울은평구']
for data in zip(dt_list,dd_list):
    print(data)
    
data_dict = dict(zip(dt_list,dd_list))
data_dict

('정당', '민주당')
('선거구', '서울은평구')

{'정당': '민주당', '선거구': '서울은평구'}

In [36]:
import re

mystr = 'a\nb\rc\td'*3
#print(mystr)

regex = re.compile(r'[\n\r\t]')
result = regex.sub(" ",mystr)
result.strip()

'a b c da b c da b c d'

In [42]:
data_dict = {'a':[1,2,3],'b':[4,5,6],'c':[7,8,9]}
print(data_dict)

import pandas as pd

df = pd.DataFrame(data_dict)
df

{'a': [1, 2, 3], 'b': [4, 5, 6], 'c': [7, 8, 9]}

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [43]:
df['d'] = [10,11,12]
df

   a  b  c   d
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12

In [41]:
for idx, row in df.iterrows():
    print(idx, row['a'],row['b'])

0 1 4
1 2 5
2 3 6