In [1]:
!pip show pymongo

Name: pymongo
Version: 3.10.1
Summary: Python driver for MongoDB <http://www.mongodb.org>
Home-page: http://github.com/mongodb/mongo-python-driver
Author: Mike Dirolf
Author-email: mongodb-user@googlegroups.com
License: Apache License, Version 2.0
Location: c:\anaconda3\lib\site-packages
Requires:
Required-by:

You are using pip version 10.0.1, however version 20.2b1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

### Pymongo를 사용해서 MongoDB 제어하기

1. pymongo라이브러리 import
2. MongoDB 접속
3. Database, Collection 생성
4. Collection의 document를 CRUD하기

In [7]:
import pymongo

# connection 생성
conn = pymongo.MongoClient(host='localhost', port=27017)
print(conn)

# database 생성
db = conn.pymongo_db
print(db)
print(db.name)

# collection 생성
col = db.pymongo_col
print(col)
print(col.name)

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)
Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'pymongo_db')
pymongo_db
Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'pymongo_db'), 'pymongo_col')
pymongo_col

### insert_one(), insert_many() 함수

In [20]:
post = {'author':'길동','text':'첫번째 글','tags':['mongodb','python','pymongo']}
result = col.insert_one(post)
print(result)
print(result.inserted_id)

<pymongo.results.InsertOneResult object at 0x000002BF60EBF048>
5f226211c804792dc56bd51b

In [11]:
col.find()

In [12]:
for post in col.find():
    print(type(post))
    print(post)

<class 'dict'>
{'_id': ObjectId('5f225fd9c804792dc56bd512'), 'author': '길동', 'text': '첫번째 글', 'tags': ['mongodb', 'python', 'pymongo']}

In [13]:
# document 갯수 알아내기
col.count_documents({})

1

In [15]:
posts = [
    {'author':'둘리','age':10},
    {'author':'바다','age':20},
    {'author':'연못','age':30}
]
col.insert_many(posts)

In [21]:
print(col.count_documents({}))
for post in col.find({}):
    print(post)

10
{'_id': ObjectId('5f225fd9c804792dc56bd512'), 'author': '길동', 'text': '첫번째 글', 'tags': ['mongodb', 'python', 'pymongo']}
{'_id': ObjectId('5f226168c804792dc56bd513'), 'author': '둘리', 'age': 10}
{'_id': ObjectId('5f226168c804792dc56bd514'), 'author': '바다', 'age': 20}
{'_id': ObjectId('5f226168c804792dc56bd515'), 'author': '연못', 'age': 30}
{'_id': ObjectId('5f22617ec804792dc56bd516'), 'author': '둘리', 'age': 10}
{'_id': ObjectId('5f22617ec804792dc56bd517'), 'author': '바다', 'age': 20}
{'_id': ObjectId('5f22617ec804792dc56bd518'), 'author': '연못', 'age': 30}
{'_id': ObjectId('5f2261e8c804792dc56bd519'), 'author': '길동', 'text': '첫번째 글', 'tags': ['mongodb', 'python', 'pymongo']}
{'_id': ObjectId('5f2261f3c804792dc56bd51a'), 'author': '길동', 'text': '첫번째 글', 'tags': ['mongodb', 'python', 'pymongo']}
{'_id': ObjectId('5f226211c804792dc56bd51b'), 'author': '길동', 'text': '첫번째 글', 'tags': ['mongodb', 'python', 'pymongo']}

In [22]:
for post in col.find({},{'author':1,'age':1,'text':1,'_id':0}):
    print(post)

{'author': '길동', 'text': '첫번째 글'}
{'author': '둘리', 'age': 10}
{'author': '바다', 'age': 20}
{'author': '연못', 'age': 30}
{'author': '둘리', 'age': 10}
{'author': '바다', 'age': 20}
{'author': '연못', 'age': 30}
{'author': '길동', 'text': '첫번째 글'}
{'author': '길동', 'text': '첫번째 글'}
{'author': '길동', 'text': '첫번째 글'}

In [26]:
for post in col.find({},{'author':1,'age':1,'text':1,'_id':0}).sort('age',pymongo.ASCENDING):
    print(post)

{'author': '길동', 'text': '첫번째 글'}
{'author': '길동', 'text': '첫번째 글'}
{'author': '길동', 'text': '첫번째 글'}
{'author': '길동', 'text': '첫번째 글'}
{'author': '둘리', 'age': 10}
{'author': '둘리', 'age': 10}
{'author': '바다', 'age': 20}
{'author': '바다', 'age': 20}
{'author': '연못', 'age': 30}
{'author': '연못', 'age': 30}

In [27]:
for post in col.find({},{'author':1,'age':1,'text':1,'_id':0}).sort('age',pymongo.DESCENDING):
    print(post)

{'author': '연못', 'age': 30}
{'author': '연못', 'age': 30}
{'author': '바다', 'age': 20}
{'author': '바다', 'age': 20}
{'author': '둘리', 'age': 10}
{'author': '둘리', 'age': 10}
{'author': '길동', 'text': '첫번째 글'}
{'author': '길동', 'text': '첫번째 글'}
{'author': '길동', 'text': '첫번째 글'}
{'author': '길동', 'text': '첫번째 글'}

In [28]:
# employees collection 생성하기
emp = db.employees
print(emp)

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'pymongo_db'), 'employees')

In [31]:
import datetime

datetime.datetime.strptime('2016-01-02','%Y-%m-%d')

datetime.datetime(2016, 1, 2, 0, 0)

In [32]:
emp_list = [
    {"number":1001,"last_name":"Smith","first_name":"John","salary":62000,"department":"sales", 'hire_date':datetime.datetime.strptime('2016-01-02','%Y-%m-%d')},
    {"number":1002,"last_name":"Anderson","first_name":"Jane","salary":57500,"department":"marketing", 'hire_date':datetime.datetime.strptime('2013-11-09','%Y-%m-%d')},
    {"number":1003,"last_name":"Everest","first_name":"Brad","salary":71000,"department":"sales", 'hire_date':datetime.datetime.strptime('2017-02-03','%Y-%m-%d')},
    {"number":1004,"last_name":"Horvath","first_name":"Jack","salary":42000,"department":"marketing", 'hire_date':datetime.datetime.strptime('2017-06-01','%Y-%m-%d')},
]
emp.insert_many(emp_list)

In [33]:
for employee in emp.find():
    print(employee)

{'_id': ObjectId('5f22660ac804792dc56bd51c'), 'number': 1001, 'last_name': 'Smith', 'first_name': 'John', 'salary': 62000, 'department': 'sales', 'hire_date': datetime.datetime(2016, 1, 2, 0, 0)}
{'_id': ObjectId('5f22660ac804792dc56bd51d'), 'number': 1002, 'last_name': 'Anderson', 'first_name': 'Jane', 'salary': 57500, 'department': 'marketing', 'hire_date': datetime.datetime(2013, 11, 9, 0, 0)}
{'_id': ObjectId('5f22660ac804792dc56bd51e'), 'number': 1003, 'last_name': 'Everest', 'first_name': 'Brad', 'salary': 71000, 'department': 'sales', 'hire_date': datetime.datetime(2017, 2, 3, 0, 0)}
{'_id': ObjectId('5f22660ac804792dc56bd51f'), 'number': 1004, 'last_name': 'Horvath', 'first_name': 'Jack', 'salary': 42000, 'department': 'marketing', 'hire_date': datetime.datetime(2017, 6, 1, 0, 0)}

In [44]:
# first_name like ''%a%''
filter = {'first_name':{'$regex':'a'}} #a가 포함되어있는
filter = {'first_name':{'$regex':'^J'}} #J로 시작되는
filter = {'last_name':{'$regex':'h$'}} #h로 끝니는

from datetime import datetime
from_dt = datetime.strptime('2016-01-02','%Y-%m-%d')
to_dt = datetime.strptime('2017-05-30','%Y-%m-%d')
filter = {'hire_date':{'$gte':from_dt,'$lte':to_dt}}
filter = {'number':{'$in':[1001,1002]}}
for employee in emp.find(filter,{'_id':0}):
    print(employee)

{'number': 1001, 'last_name': 'Smith', 'first_name': 'John', 'salary': 62000, 'department': 'sales', 'hire_date': datetime.datetime(2016, 1, 2, 0, 0)}
{'number': 1002, 'last_name': 'Anderson', 'first_name': 'Jane', 'salary': 57500, 'department': 'marketing', 'hire_date': datetime.datetime(2013, 11, 9, 0, 0)}

### update_one(), update_many()

In [52]:
emp.update_one({'number':1001},{'$set':{'department':'marketing'}})
# number = 1001, salary 62000 -> 63000
emp.update_one({'number':1001},{'$inc':{'salary':1000}})

In [55]:
# status 컬럼 추가 (A값으로 넣어서)
emp.update_many({},{'$set':{'status':'A'}})

In [58]:
for post in emp.find({},{'_id':0}):
    print(post)

{'number': 1001, 'last_name': 'Smith', 'first_name': 'John', 'salary': 63000, 'department': 'marketing', 'hire_date': datetime.datetime(2016, 1, 2, 0, 0), 'status': 'A'}
{'number': 1002, 'last_name': 'Anderson', 'first_name': 'Jane', 'salary': 57500, 'department': 'marketing', 'hire_date': datetime.datetime(2013, 11, 9, 0, 0), 'status': 'A'}
{'number': 1003, 'last_name': 'Everest', 'first_name': 'Brad', 'salary': 71000, 'department': 'sales', 'hire_date': datetime.datetime(2017, 2, 3, 0, 0), 'status': 'A'}
{'number': 1004, 'last_name': 'Horvath', 'first_name': 'Jack', 'salary': 42000, 'department': 'marketing', 'hire_date': datetime.datetime(2017, 6, 1, 0, 0), 'status': 'A'}

In [60]:
# update many()
# number in [1003,1004] - status = 'B'
emp.update_many({'number':{'$in':[1003,1004]}},{'$set':{'status':'B'}})
for post in emp.find({},{'_id':0}):
    print(post)

{'number': 1001, 'last_name': 'Smith', 'first_name': 'John', 'salary': 63000, 'department': 'marketing', 'hire_date': datetime.datetime(2016, 1, 2, 0, 0), 'status': 'A'}
{'number': 1002, 'last_name': 'Anderson', 'first_name': 'Jane', 'salary': 57500, 'department': 'marketing', 'hire_date': datetime.datetime(2013, 11, 9, 0, 0), 'status': 'A'}
{'number': 1003, 'last_name': 'Everest', 'first_name': 'Brad', 'salary': 71000, 'department': 'sales', 'hire_date': datetime.datetime(2017, 2, 3, 0, 0), 'status': 'B'}
{'number': 1004, 'last_name': 'Horvath', 'first_name': 'Jack', 'salary': 42000, 'department': 'marketing', 'hire_date': datetime.datetime(2017, 6, 1, 0, 0), 'status': 'B'}

In [61]:
# delete many()
# status = 'B'
emp.delete_many({'status':'B'})
for post in emp.find({},{'_id':0}):
    print(post)

{'number': 1001, 'last_name': 'Smith', 'first_name': 'John', 'salary': 63000, 'department': 'marketing', 'hire_date': datetime.datetime(2016, 1, 2, 0, 0), 'status': 'A'}
{'number': 1002, 'last_name': 'Anderson', 'first_name': 'Jane', 'salary': 57500, 'department': 'marketing', 'hire_date': datetime.datetime(2013, 11, 9, 0, 0), 'status': 'A'}